:root {
    --primary: #13213C !important;
    --secondary: #00629F !important;
    --secondary-2: #031D44 !important;
    --secondary-3: #7298D4 !important;
    --light: #F7F7F7 !important;
    --light-2: #F8F8F8 !;
    --dark: #0F1626 !important;
    --warning: #FFC107 !important;
    --warning-2:#FAA21A !important;
    --success: #E8E1A4 !important;
    --success-2: #f6f3d5 !important;
    --danger: #CF4E08 !important;
    --buttonborders: #A6A6A6 !important;
    --buttonbackground-color: #D9D9D9 !important;
}

body, html {
    margin: 0;
    padding:0;
}

/* NAVIGATION BAR */
.navbar {
    background-color: var(--primary) !important;
}

.logo img {
    width: 40px;
    margin: 10px 20px 10px 20px;
}
.nav-btn-bar {
    background: var(--warning);
}

.navbar-nav .nav-link:hover {
    background-color: var(--secondary-3);
    border-radius: 5%;
}

.navbar-nav .nav-item.active .nav-link {
    border-bottom: 2px solid yellow;
}

.fave-btn {
    background-color: var(--light) !important;
    margin-left: 10px;
}

/* HERO SECTION */

.hero-scn {
    margin-top: 76px;
    background-color: var(--light);
    display: flex;
}

.hero-text {
    padding-left: 50px;
    padding-right: 50px;
}

.header-bar img {
    width:200px;
}

/* Search Bar */

.search-btns {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.search-btns button {
    display: flex;
    justify-content: center;
    flex: 1;
    border: solid;
    border-width: 1px;
    border-color: var(--warning);
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: var(--success);
}

.search-btn {
    display: flex;
    overflow: hidden;
}

.btn-color.active {
    background-color: var(--warning);
    /* Active button color */
}

.search-btn button {
    flex: 1;
    border-radius: 0.25rem 0.25rem 0 0;
    border: solid;
    border-width: 1px;
    border-color: var(--buttonborders);
}

.search-bar input {
    flex: 1;
    border-radius: 0 0 0.25rem 0.25rem;
    border: solid;
    border-width: 1px;
    border-color: var(--buttonborders);
}

.btn:hover {
    background-color:var(--secondary);
    color:var(--light) ;
} 

.search-bar button {
    border-radius: 0 0 0.25rem 0.25rem;
    border-color: var(--buttonborders);
    background-color: var(--warning);
    color: var(--secondary-2);
}

/* HERO-ABOUT DIVIDER */
.hero-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    transform: translate(0%, -50%);
    /* z-index: 2 !important; */
}
.hero-divider img {
    height: 6rem;
    max-width: 120%;
}

/* SEARCHED PROPERTIES SECTION */
#Searched-Properties-Section {
    background-color: var(--success-2);
}

/* PROPERTIES SECTION */
.prop-card-1 {
    /* margin-top: 75px; */
    background-color: var(--light);
    border: none !important;
}

.properties-scn {
    padding-top: 50px;
    /* margin-top: -92px; */
}

.properties-scn p {
    margin-bottom: 60px;
}

.property-tab {
    /* background-color: #FAA21A !important; */
    color: var(--secondary);
}

.prop-price {
    color: var(--primary);
}

.fa {
    color: var(--secondary);
}

.rounded-pill {
    background-color: var(--secondary-3);
}

.price-heart {
    position: relative;
}

.heart-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.heart-btn:focus {
    outline: green;
}

/* PROPERTIES-HTML */
.prop-card-2 {
    margin-top: 76px;
}

.properties-scn-2 {
    margin-top: 20%;
}

/* ABOUT SECTION */
.about-scn {
    margin-top: 120px;
}

.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    /* background-color: #FFC107; */
    background: var(--warning);
    transform: skew(20deg);
    z-index: 1;
}

.btn {
    background-color: #FFC107;
}

.fa-check {
    color: #13213C !important;
}

.about-txt h1 {
    font-size: 32px;
}

.abt-list {
    color:#13213C;
    font-size: 1.2rem;
}

/* SERVICES SECTION */
.services {
    background-color: #F8F8F8;
    padding-bottom: 50px;
    padding-top: 100px;
}

.services-scn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.services h2 {
    padding-top: 30px;
    padding-bottom: 5px;
}

.services p {
    padding-bottom: 30px;
}


/* CONTACT SECTION */
.contact-scn{
    margin-top: 120px;
}


/* FOOTER SECTION */
footer {
    background-color: #CF4E08;
}

.footer-scn {
    background-color: #13213C;
}
.footer .btn.btn-social {
    background-color: #13213C;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--warning-2);
    border-color: var(--warning);
}

.footer .btn.btn-link {
    background-color: var(--primary);
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    background-color:var(--primary);
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
    color: var(--warning-2) !important;
}

.footer .form-control {
    border-color: rgba(255, 255, 255, 0.5);
}

.sign-up-text {
    background-color: var(--light);
    color: var(--secondary-2) !important; 
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
    text-decoration: none !important;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer-cr a {
    text-decoration: none;
}