:root {
    --primary: #13213C !important;
    --secondary: #00629F !important;
    --secondary-2: #031D44 !important;
    --secondary-3: #7298D4 !important;
    --light: #F7F7F7 !important;
    --light-2: #F8F8F8 !;
    --dark: #0F1626 !important;
    --warning: #FFC107 !important;
    --warning-2:#FAA21A !important;
    --success: #E8E1A4 !important;
    --success-2: #f6f3d5 !important;
    --danger: #CF4E08 !important;
    --buttonborders: #A6A6A6 !important;
    --buttonbackground-color: #D9D9D9 !important;
}

body, html {
    margin: 0;
    padding:0;
}

/* NAVIGATION BAR */
.navbar {
    background-color: var(--primary) !important;
}

.logo img {
    width: 40px;
    margin: 10px 20px 10px 20px;
}
.nav-btn-bar {
    background: var(--warning);
}

.navbar-nav .nav-link:hover {
    background-color: var(--secondary-3);
    border-radius: 5%;
}

.navbar-nav .nav-item.active .nav-link {
    border-bottom: 2px solid yellow;
}

.fave-btn {
    background-color: var(--light) !important;
    margin-left: 10px;
}